<!-- <html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div class="align-center">
    <h2 class="text-center">NEW PRODUCTS</h2>
    <%  for (var prod of newprods) { %>
    <div class="inline">
      <figure>
        <a href="./details?id=<%=prod._id%>"><img src="data:image/jpg;base64,<%=prod.image%>" width="300px" height="300px" /></a>
        <figcaption class="text-center"><%=prod.name%><br />Price: <%=prod.price%></figcaption>
      </figure>
    </div>
    <%  } %>
  </div>
  <%  if (hotprods) { %>
  <div class="align-center">
    <h2 class="text-center">HOT PRODUCTS</h2>
    <%  for (var prod of hotprods) { %>
    <div class="inline">
      <figure>
        <a href="./details?id=<%=prod._id%>"><img src="data:image/jpg;base64,<%=prod.image%>" width="300px" height="300px" /></a>
        <figcaption class="text-center"><%=prod.name%><br />Price: <%=prod.price%></figcaption>
      </figure>
    </div>
    <%  } %>
  </div>
  <%  } %>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ShopMax &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="../homecuts/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../homecuts/css/bootstrap.min.css">
    <link rel="stylesheet" href="../homecuts/css/magnific-popup.css">
    <link rel="stylesheet" href="../homecuts/css/jquery-ui.css">
    <link rel="stylesheet" href="../homecuts/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../homecuts/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="../homecuts/css/aos.css">

    <link rel="stylesheet" href="../homecuts/css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">
    

    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="./search" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>  
        </div>
      </div>

      <div class="container">
        <div class="top">
          <%  if (session.customer) {  %>
          Hello <b><%=session.customer.name%></b> | <a href="./logout">Logout</a> | <a href="./myprofile">My profile</a>
          <%  } else {  %>
          <a href="./login">Login</a> | <a href="./signup">Sign-up</a>
          <%  } %>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="home" class="js-logo-clone">Golden Shoes</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="has-children active">
                  <a href="home">Home</a>
                </li>
                
                <li><a href="myorders">My order</a></li>
                <li><a href="#">Catalogue</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="contact.html">Contact</a></li>
                <%  if (session.customer) {  %>
                <li><a href="./mycart" >My cart</a></li>
                <%  }   %>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
            <a href="mycart" class="icons-btn d-inline-block bag"> 
              <span class="icon-shopping-bag"></span>
              <span class="number"><b><%= (session.mycart) ? session.mycart.length : 0 %></b></span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h1>Golden Shoes</h1>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="../homecuts/images/image1.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    
    </div>


    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">Popular Shoes</h2>
          </div>
        </div>
        <%  for (var prod of newprods) { %>
        <div class="row">
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <div class="inline">
            <a href="./details?id=<%=prod._id%>" class="product-item md-height bg-gray d-block">
              <img src="data:image/jpg;base64,<%=prod.image%>" alt="Image" class="img-fluid">
            </a>
            <strong class="item-price"><%=prod.name%><br />Price: <%=prod.price%></strong>
          </div>
          </div>
        </div>
        <%  } %>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center mb-5 col-12">
            <h2 class="text-uppercase">Hot Product</h2>
          </div>
        </div>
        <%  if (hotprods) { %>
          <div class="align-center">
            <%  for (var prod of hotprods) { %>
            <div class="inline">
              <figure>
                <a href="./details?id=<%=prod._id%>"><img src="data:image/jpg;base64,<%=prod.image%>" width="300px" height="300px" /></a>
                <figcaption class="text-center"><%=prod.name%><br />Price: <%=prod.price%></figcaption>
              </figure>
            </div>
            <%  } %>
          </div>
          <%  } %>
      </div>
    </div>


    <div class="site-blocks-cover inner-page py-5" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h1>New Shoes</h1>

            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="../homecuts/images/model_6.png" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    
  </div>

  <script src="../homecuts/js/jquery-3.3.1.min.js"></script>
  <script src="../homecuts/js/jquery-ui.js"></script>
  <script src="../homecuts/js/popper.min.js"></script>
  <script src="../homecuts/js/bootstrap.min.js"></script>
  <script src="../homecuts/js/owl.carousel.min.js"></script>
  <script src="../homecuts/js/jquery.magnific-popup.min.js"></script>
  <script src="../homecuts/js/aos.js"></script>

  <script src="../homecuts/js/main.js"></script>
    
  </body>
</html>