<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/styles.css" type="text/css" rel="stylesheet" />
    <script>
      function details(id, name) {
        document.getElementById("txtID").value = id;
        document.getElementById("txtName").value = name;
        document.getElementById("btnUpdate").style.display = "inline";
        document.getElementById("btnDelete").style.display = "inline";
      }
    </script>
  </head>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../homeadmin/assets/images/favicon.png">
    <title>AdminWrap - Easy to Customize Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="../homeadmin/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../homeadmin/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../homeadmin/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<<<<<<< HEAD
=======
<!-- <body class="admin">
  <%- include('./_menu.ejs') %>
  <div class="float-left">
    <h2 class="text-center">CATEGORY LIST</h2>
    <table class="datatable" border="1">
      <tr class="datatable">
        <th>ID</th>
        <th>Name</th>
      </tr>
      <%  for (var item of cats) {  %>
      <tr class="datatable" onclick="details('<%=item._id%>', '<%=item.name%>')">
        <th><%=item._id%></th>
        <td><%=item.name%></td>
      </tr>
      <%  } %>
    </table>
  </div>
  <div class="inline" style="width: 500px"></div>
  <div class="float-right">
    <h2 class="text-center">CATEGORY DETAIL</h2>
    <form method="POST">
      <table>
        <tr>
          <td>ID</td>
          <td><input type="text" id="txtID" name="txtID" readonly /></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input type="text" id="txtName" name="txtName" required />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" formaction="./addcategory" value="ADD NEW" />
            <input type="submit" formaction="./updatecategory" value="UPDATE" id="btnUpdate" style="display: none" />
            <input type="submit" formaction="./deletecategory" value="DELETE" id="btnDelete" style="display: none" onclick="return confirm('ARE YOU SURE?')" />
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="float-clear"></div>
</body> -->

</html>




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../homeadmin/assets/images/favicon.png">
    <title>AdminWrap - Easy to Customize Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="../homeadmin/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../homeadmin/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../homeadmin/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

>>>>>>> b9367cd2a37fcde2ec539606ada7c376a5b27212
<body class="fix-header card-no-border fix-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin Wrap</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../homeadmin/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="../homeadmin/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="../homeadmin/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="../homeadmin/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
              <!-- Sidebar navigation-->
              <nav class="sidebar-nav">
                  <ul id="sidebarnav"> 
                      <li> <a class="waves-effect waves-dark" href="home" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Home</span></a>
                      </li>
                      <li> <a class="waves-effect waves-dark" href="listcategory" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Category</span></a>
                      </li>
                      <li> <a class="waves-effect waves-dark" href="listcustomer" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Customer</span></a>
                      </li>
                      <li> <a class="waves-effect waves-dark" href="listorder" aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu">Order</span></a>
                      </li>
                      <li> <a class="waves-effect waves-dark" href="listproduct" aria-expanded="false"><i class="fa fa-globe"></i><span class="hide-menu">Product</span></a>
                      </li>
                  </ul>
<<<<<<< HEAD
                  <div class="float-left" style="width: 100px">
                    Hello <b><%=session.admin.username%></b> | <a href="./logout">Logout</a>
                  </div>
                  <div class="float-clear"></div>
=======
>>>>>>> b9367cd2a37fcde2ec539606ada7c376a5b27212
              </nav>
              <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
      </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Category</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                            <li class="breadcrumb-item active">Category</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-6 col-xlg-6 col-md-10">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-300"> 
                                  <div >
                                    <h2 class="text-left">CATEGORY LIST</h2>
<<<<<<< HEAD
                                    <table class="datatable" style="height: 200" style="width: 400">
=======
                                    <table class="datatable" border="1" style="height: 200" style="width: 400">
>>>>>>> b9367cd2a37fcde2ec539606ada7c376a5b27212
                                      <tr class="datatable">
                                        <td>ID</td>
                                        <td>Name</td >
                                      </tr>
                                      <%  for (var item of cats) {  %>
                                      <tr class="datatable" onclick="details('<%=item._id%>', '<%=item.name%>')">
                                        <th><%=item._id%></th>
                                        <td><%=item.name%></td>
                                      </tr>
                                      <%  } %>
                                    </table>
                                  </div>  
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-10 col-xlg-6 col-md-8">
                      <form method="POST">
                        <div class="card">
                            <!-- Tab panes -->
                            <div class="card-body">
                                <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <h2 class="col-md-12">CATEGORY DETAILS</h2>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">ID</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control form-control-line" name="txtID" id="txtID" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Name</label>
                                        <div class="col-md-12">
                                            <input type="text" value="Product Name" class="form-control form-control-line" name="txtName" id="txtName" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="submit" class="btn btn-success" formaction="./addcategory" value="ADD NEW" />
                                            <input type="submit" class="btn btn-success" formaction="./updatecategory" value="UPDATE" id="btnUpdate" style="display: none" />
                                            <input type="submit" class="btn btn-success" formaction="./deletecategory" value="DELETE" id="btnDelete" style="display: none" onclick="return confirm('ARE YOU SURE?')" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </form>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2018 Adminwrap by wrappixel.com
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
<<<<<<< HEAD

    <!-- All Jquery -->
=======
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
>>>>>>> b9367cd2a37fcde2ec539606ada7c376a5b27212
    <script src="../homeadmin/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../homeadmin/assets/node_modules/bootstrap/js/popper.min.js"></script>
    <script src="../homeadmin/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../homeadmin/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="../homeadmin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../homeadmin/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../homeadmin/js/custom.min.js"></script>
</body>

</html>